<% if policy(Race).create? %>
  <%= link_to "Create a race", new_race_path %>
<% end %>

<% if policy(League).create? %>
  <%= link_to "Create a league", new_league_path %>
<% end %>

<ul>
  <% @leagues.each do |league| %>
    <li>
      <%= link_to league.name, league_path(league) %>
    </li>
  <% end %>
</ul>
