<% if @current_race == Race.upcoming_race %>
  <%= simple_form_for [@user_league, @choice] do |f| %>
    <%= f.association :race_driver, collection: RaceDriver.where(race: @current_race)%>
    <%= f.button :submit %>
  <% end %>
<% else %>
  <p>Unable to make a choice for this race</p>
<% end %>

