<ul>
  <% if policy_scope(@races) %>
    <% @races.each do |race| %>
      <li>
        <%= race.name %>
        <% if policy(Race).destroy? %>
          <%= link_to "Delete",
          race,
          method: :delete,
          data: {confirm: "Are you sure?"} %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
