<% drivers = [] %>
<div>2022 F1 - Results Table</div>
<ul>
  <% @race_drivers.each do |race_driver| %>
    <% unless drivers.include?(race_driver.team_driver.driver) %>
      <li><%= race_driver.team_driver.driver.full_name %></li>
      <% @results.each do |result| %>
        <% result.each do |result| %>
          <% if result.race_driver.team_driver == race_driver.team_driver %>
            <%= result.points %>
          <% end %>
        <% end %>
      <% end %>
      <% drivers << race_driver.team_driver.driver %>
    <% end %>
  <% end %>
</ul>
