<%= link_to "Create new team_driver", new_team_driver_path %>

<ul>
  <% @team_drivers.each do |team_driver| %>
    <li>
      <%= team_driver.driver.full_name %> - <%= team_driver.constructor.name %>
      <%= link_to "Delete",
      team_driver,
      method: :delete,
      data: {confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>
