<ul>
  <% @race_drivers.each do |race_driver| %>
    <li>
      <%= race_driver.race.name %> - <%= race_driver.team_driver.driver.full_name %> - <%= race_driver.team_driver.constructor.name %>
    </li>
  <% end %>
</ul>
